* {
padding: 0;
margin: 0;
/*background-color: #C2E1F2;*/
color: black;
}

body {
background-image: url(./grade_branca.png);
background-repeat: repeat;
}

#button-sair{
padding: 0;
}

.main-container {
display: flex;
flex-direction: column;
align-items: center;
}

.alert {
margin-bottom: 0;
}

#navbarMain {
display: flex;
flex-direction: row-reverse;
padding: 1px;
border-bottom: 1px solid gray;
background-color: #C2E1F2;
}

ul {
display: flex;
justify-content: space-between;
width: 100%;
}

nav {
width: 100%;
background-color: #C2E1F2;
}

.nav-link {
color: black;
font-family: 'Playfair Display', serif;
}

#home {
font-weight: bold;
}

.navbar {
padding: 0;
}

.navbar-expand-lg .navbar-nav {
background-color: #C2E1F2;
}

.nav-item {
font-weight: bold;
}

.nav-login {
border: 1px solid black;
border-radius: 20px;
margin: 3px;
}

.href-login {
padding: 5px;
}

.dropdown-menu {
margin-right: 3rem;
}

#index-main {
display: flex;
flex-direction: column;
align-items: center;
}

#cards {
display: grid;
grid-template-columns: 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem;
column-gap: 5px;
width: 100%;
border: 1px solid lightgray;
border-radius: 0 0px 5px 5px;
padding: 10px;
background-color: white;
box-shadow: 15px 15px;
margin: 0 5px 0 5px;
}

#cards-border {
width: 100%;
background-color: lightblue;
border-radius: 5px 5px 0 0;
padding: 5px;
margin: 0 5px 0 5px;
box-shadow: 15px 15px;
display: flex;
justify-content: space-between;
align-items: center;
}

#cards-index {
display: flex;
flex-direction: column;
}

.card {
margin: 5px;
width: 12rem;
height: auto;
padding: 5px;
background-color: #f3f2f2;
border: 2px solid lightgray;
}

.card-emocao{
margin: 5px;
width: 12rem;
height: 18rem;
padding: 5px;
background-color: #f3f2f2;
border: 2px solid lightgray;
}

.card img {
width: 10rem;
height: 10rem;
text-align: center;
}

.card-body {
display: flex;
flex-direction: column;
align-items: center;
}

.card-descricao {
width: 11rem;
height: 3.4rem;
overflow: hidden;
text-overflow: ellipsis;
}

#emocoes-main {
display: flex;
justify-content: space-evenly
}

.emocao {
display: flex;
flex-direction: column;
gap: 2px;
margin: 5px;
}

#cabecalho, #cabecalho-relatorio {
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
background-color: #7ACAF8;
margin: 15px 5px 0 5px;
border-radius: 10px 10px 0 0;
}

#cabecalho-relatorio {
display: flex;
justify-content: space-between;
margin: 5px 6.5em 0 6.5em;
}

#cabecalho-relatorio a {
color: white;
margin: 0 10px;
}

#cabecalho-relatorio #imprimir{
color: red;
}

#cabecalho h1 {
text-align: center;
}

#parametro-index {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.parametro {
margin-left: 50px;
margin-right: 50px;
}

.card-content {
color: black;
text-decoration: none;
display: flex;
flex-direction: column;
align-items: center
}

a:hover {
color: #7bbde0;
text-decoration: none;
}

#salus-init {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
position: relative;
text-align: center;
}

#flor-maracuja {
width: 25rem;
height: 25rem;

}

#SALUS {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 15rem;
font-family: 'Playfair Display', serif;
}

#salus-sobre {
height: auto;
padding: 20px;
background: rgb(194, 229, 255);
background: radial-gradient(circle, rgba(194, 229, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
border-bottom: 1px solid gray;
border-top: 1px solid gray;
font-size: 1.5rem;
font-family: 'Old Standard TT', serif;
}

.card-title {
text-align: center;
}

.card-text {
text-align: justify;
font-family: 'Ubuntu', sans-serif;
}

#cards-sobre {
display: flex;
justify-content: space-around;
}

#card-add {
background-color: #7ACAF8;
border-radius: 50%;
}

#salus-perguntas {
width: 100%;
height: auto;
}

#botoes {
background-color: lightgreen;
display: flex;
justify-content: space-around;
}

.btn-pencil {
background-color: purple;
}

.create-novo {
background-color: white;
width: auto;
height: auto;
padding: 1rem;
border-radius: 0 0 10px 10px;
border: 1px solid lightgray;
margin: 0 5px 5px 5px;
}

#remedio-index {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.parametros-sn-index {
display: flex;
justify-content: space-around;
}

.parametro-sn {
display: flex;
flex-direction: column;
margin-right: 8px;
}

/* relatorio*/

#graficos-emocao {
display: flex;
}

#grafico-dias {
    margin-left: 8em;
}

.corpo, .corpo-relatorio {
background-color: white;
width: auto;
height: auto;
padding: 1rem;
border-radius: 0 0 10px 10px;
border: 1px solid lightgray;
margin: 0 6.5em 25px 6.5em;
display: flex;
flex-direction: column;
}

.corpo-relatorio{
width: 77em;
}

#graficos-emocao{
display: flex;
justify-content: space-evenly;
}

.emocoes-relatorio{
display: flex;
flex-direction: column;
align-items: center;
}

.rel-img{
width: 5rem;
height: 5rem;
}

.qtd-emo{
font-size: large;
}

#graficos-remedio, #graficos-parametro{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.empty-graficos{
width: auto;
text-align: center;
display: block;
}
.empty-graficos a{
color: blue;
text-decoration: underline;
}
.empty-graficos a:hover{
color: #7bbde0;
text-decoration: underline;
background-color: #7ACAF8;
cursor: pointer;
}

footer {
background-color: lightblue;
position: absolute;
bottom: 0;
width: 100%;
padding: 10px;
display: flex;
justify-content: space-around;
border-top: 1px solid gray;
}

footer img {
width: 4em;
height: 4em;
}

label {
margin: 0 5px 0 0;
}
